# --- GLOBAL ---
node_modules/
.DS_Store
Thumbs.db
.env

# --- BACKEND ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- FRONTEND (Angular) ---
/grandcache-frontend/dist/
/grandcache-frontend/.angular/
/grandcache-frontend/.cache/
.sass-cache/
connect.lock
coverage/
lib/
testem.log
.idea/
.vscode/